* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    background-color: white;
    height:100%;
    margin: 0; 
    padding: 0; 
    color: #202124;

}

.nav {
    display: flex;
    width: 100%;
    font-size: 13px;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: auto;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    -moz-user-select: -moz-none;
}

.navbar-left ul {
    padding-left: 28px;
    margin-left: 0px;
}

.navbar-left li {
    list-style-type: none;
    flex-basis: 45px;
}

.navbar-left a {
    text-decoration: none;
    opacity: 0.75;
    color: black;
    justify-content: flex-end;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    -moz-user-select: -moz-none;
}

.navbar-right ul {
}

.navbar-right li {
    list-style-type: none;
    flex-basis: 0em;
    padding-right: 20px;
}

.navbar-right a {
    text-decoration: none;
    opacity: 0.75;
    color: black;
}


.background-image {
    display:inline;
    height: 35px;
    width: 60px;
    margin-left: 5px;
    margin-right: 20px;
    background-image: url("i1_1967ca6a.png");
    opacity: 0.60;
    background-position: -138px -36px;
    background-repeat: no-repeat;
}

.background-image:hover {
    background-image: url("i1_1967ca6a.png");
    opacity: 1;
    background-position: -132px -40px;
    background-repeat: no-repeat;
}

@media all and (max-width: 600px) {  
    
    .nav {  
      flex-wrap: wrap;  
    }  
      
    .nav li {  
      flex-basis: 50%;
    }

    .navbar-left {
      text-align: center;
    }

    .navbar-right {
      text-align: center;
    }
  
}
  
.navbar-left a:hover {
    text-decoration: underline;
}

.navbar-right a:hover {
    text-decoration: underline;
}

.nav-signin-button {
    appearance: none;
    font-family: inherit;
    font-size: 13px;
    border: 1px solid transparent;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    border: 1px solid;
    border-color: rgb(66, 133, 244);
    background-color:#4484f3;
    margin: 0px 0px 0px 0px;
    padding: 7px 13px 7px 13px;
    white-space: nowrap;

}
.nav-signin-button:hover {
    box-shadow: 0 1px 1px rgba(32,33,36,.28);

}
/* Style the content */
.container {
    display: flex;
    width: 100%;
    background-color: white;
    height: -moz-calc(100% - (40px + 52px));
    height: -webkit-calc(100% - (40px + 52px));
    height: calc(100% - (45px + 53px));
    flex-direction: column;
}

#hpimg {
    width: 100%;
    display: flex;
    justify-content: center;
}

#logo {
    padding-top: 150px;
    width: 272px;
    height: 92px;
}

#form {
    display:flex;
    width: 100%;
    justify-content: center;
}

#search:hover {
    border: 1px solid #dfe1e5;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#search:focus {
    border: 1px solid #dfe1e5;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#search {
    width: 588px;
    border: 1px solid;
    border-color: #dfe1e5;
    border-radius: 24px;
    height: 44px;
    background-color: #fff;
}

.search-buttons-container {
   display:flex;
   justify-content: center;
   flex-direction: row;
   font-size: 14px;
   padding-top: 20px;
}

.search-buttons {
    appearance: none;
    font-family: inherit;
    font-size: 14px;
    border: 1px solid transparent;
    text-align: center;
    color: #3c4043;
    border-radius: 4px;
    background-color: #f8f9fa;
    margin: 10px 10px 10px 10px;
    padding: 10px 12px 10px 12px;
    
}

.search-buttons:hover {
    border: 1px solid #dadce0;
    color: #202124;

}
/* Style the footer */
.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #f1f1f1;
    font-size: 14px;
    color: #70757a;
    height:40px;
    border-top: 1px solid;
    border-color: #dfe1e5;
}

.footer-left {
    display: flex;
    width: 30%;
    list-style-type: none;
    justify-content: left;
    padding-left: 25px;
    
}

.footer-right {
    display: flex;
    width: 30%;
    list-style-type: none;
    justify-content: right;
}

.footer-mid {
    display: flex;
    width: 40%;
    list-style-type: none;
    justify-content: center;
    padding-left: 20;
    padding-top: 0px;
    text-align: center;
}

.footer li {
   padding-right: 25px;
}

.footer a {
    width: 100%;
    color: rgba(0,0,0,.54);
    opacity: 0.75;
    text-decoration: none;
  }

.footer a:hover {
    text-decoration: underline;
}

#footer-image {
    display: inline-block;
    height: 13px;
    padding-right: 5px;

}
